/*! Basic | Colorless, scaffolding theme for Basscss */


/* Probably excluding these
@import 'normalize.css';

@import 'basscss-base-forms';
@import 'basscss-base-buttons';
@import 'basscss-base-tables';
 * */
@import 'basscss-base-reset';
@import 'basscss-base-typography';

@import 'basscss-utility-layout';
@import 'basscss-utility-typography';
@import 'basscss-white-space';


/* Under consideration
@import 'basscss-responsive-states';
@import 'basscss-positions';
@import 'basscss-grid';
@import 'flex-object';
*/


@import 'basscss-defaults';


/* Custom properties */
/*
:root {

  --font-family: 'Helvetica Neue', Helvetica, sans-serif;
  --line-height: 1.5;
  --heading-font-family: var(--font-family);
  --heading-font-weight: bold;
  --heading-line-height: 1.25;
  --monospace-font-family: 'Source Code Pro', Consolas, monospace;

  --h1: 2rem;
  --h2: 1.5rem;
  --h3: 1.25rem;
  --h4: 1rem;
  --h5: .875rem;
  --h6: .75rem;

  --bold-font-weight: bold;

  --space-1: .5rem;
  --space-2: 1rem;
  --space-3: 2rem;
  --space-4: 4rem;

  --form-field-font-size: 1rem;
  --form-field-height: 2.25rem;
  --form-field-padding-y: .5rem;
  --form-field-padding-x: .5rem;

  --container-width: 64em;

}
*/

